<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../styles/dist/output.css">
    <link rel="stylesheet" href="../assets/fonts/css/fontiran.css">
    <!-- change page theme  -->
    <!-- <script>
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.classList.add('dark');
        }
    </script> -->
</head>

<body class="bg-secondary1   font-dana">
    <h1 class="text-center text-primary1 font-dana">
        سلام
    </h1>
</body>

</html>